:root {
  font-family: system-ui, Inter, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  background-color:#022659; /* fondo base */
  color: #1e293b; /* texto gris azulado oscuro */

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color:  #022659;
}

a {
  font-weight: 500;
  color: #2563eb;
  text-decoration: none;
}
a:hover {
  color: #1e3a8a;
}

button {
  font-family: inherit;
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #1e3a8a;
}
